<% if @shipping_mode.errors.any? %>
  <div>
    <ul>
      <% @shipping_mode.errors.each do |e| %>
        <li><%= e.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div>
<%= form_with(model: @shipping_mode) do |f| %>
  <div class="mb-3 row">
    <%= f.label :name, class:"col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>
  <div class="mb-3 row">
    <%= f.label :max_distance, class:"col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= f.number_field :max_distance, class: "form-control" %>
    </div>
  </div>
  <div class="mb-3 row">
    <%= f.label :min_distance, class:"col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= f.number_field :min_distance, class: "form-control" %>
    </div>
  </div>
  <div class="mb-3 row">
    <%= f.label :max_weight, class:"col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= f.number_field :max_weight, class: "form-control" %>
    </div>
  </div>
  <div class="mb-3 row">
    <%= f.label :min_weight, class:"col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= f.number_field :min_weight, class: "form-control" %>
    </div>
  </div>
  <div class="mb-3 row">
    <%= f.label :fixed_fee, class:"col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      R$<%= f.number_field :fixed_fee, step: 0.01, class: "form-control" %>
    </div>
  </div>
  <div class="mb-3 row">
    <%= f.label :description, class:"col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= f.text_area :description, class: "form-control" %>
    </div>
  </div>
  


  <%= f.submit 'Enviar' %>
<% end %>
</div>