<h2>Ordens de serviço</h2>
<% if user_signed_in? && current_user.admin? %>
  <%= link_to 'Adicionar ordem de serviço', new_service_order_path %>
<% end %>

<div>
  <table>
    <thead>
      <tr>
        <th>Entregas em andamento</th>
      </tr>
      <tr>
        <th>Código da ordem de serviço</th>
        <th>Saída</th>
        <th>Destino</th>
        <th>Status</th>
      </tr>
    
    </thead>
    <tbody>
      <% @service_orders.pending.each do |so| %>
      <tr>
        <td><%= link_to so.code, service_order_path(so.id) %></td>
        <td><%= so.full_addresses.shipper.first.city %> - <%= so.full_addresses.shipper.first.state %></td>
        <td><%= so.full_addresses.recipient.first.city %> - <%= so.full_addresses.recipient.first.state %></td>
        <td><%= t(so.status) %></td>
      </tr>
    
      <% end %>
    </tbody>  
  
  </table>


</div>


<div>
  <table>
    <thead>
      <tr>
        <th>Entregas em andamento</th>
      </tr>
      <tr>
        <th>Código da ordem de serviço</th>
        <th>Saída</th>
        <th>Destino</th>
        <th>Status</th>
      </tr>
    
    </thead>
    <tbody>
      <% @service_orders.initialized.each do |so| %>
      <tr>
        <td><%= link_to so.code, service_order_path(so.id) %></td>
        <td><%= so.full_addresses.shipper.first.city %> - <%= so.full_addresses.shipper.first.state %></td>
        <td><%= so.full_addresses.recipient.first.city %> - <%= so.full_addresses.recipient.first.state %></td>
        <td><%= t(so.status) %></td>
      </tr>
    
      <% end %>
    </tbody>  
  
  </table>


</div>