
<%= form_with(model: [@shipping_mode, @shipping_mode_weight_based_fee]) do |f| %>
  <div>
  <%= f.label :min_weight %>
  <%= f.number_field :min_weight %>
  </div>
  <div>
  <%= f.label :max_weight %>
  <%= f.number_field :max_weight %>
  </div>
  <div>
  <%= f.label :fee_per_km %>
  <%= f.number_field :fee_per_km, step: 0.01 %>
  </div>
  <%= f.submit 'Enviar' %>
<% end %>
