<h2>Editar configuração de preços de acordo com peso</h2>
<% if @shipping_mode_weight_based_fee.errors.any? %>
  <div>
    <ul>
      <% @shipping_mode_weight_based_fee.errors.each do |e| %>
        <li><%= e.full_message %></li>
      <% end %>
    </ul>
    
  </div>
<% end %>
<div>
  <table>
    <thead>
      <tr>
        <th><%= WeightBasedFee.human_attribute_name(:min_weight) %> (km)</th>
        <th><%= WeightBasedFee.human_attribute_name(:max_weight) %> (km)</th>
        <th><%= WeightBasedFee.human_attribute_name(:fee_per_km) %> (R$/km)</th>
      <tr>
    </thead>
    <% @weight_based_fees.each do |wbf| %>
      <% if wbf == @shipping_mode_weight_based_fee %>
        <%= form_with(model: [@shipping_mode, @shipping_mode_weight_based_fee]) do |f| %>
          <tr>
            <td><%= wbf.min_weight %></td>
            <td><%= wbf.max_weight %></td>
            <td><%= f.label :fee_per_km, class: "hide_label" %> <%= f.number_field :fee_per_km, step: 0.01 %></td>
            <td><%= f.submit 'Atualizar' %></td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td><%= wbf.min_weight %></td>
          <td><%= wbf.max_weight %></td>
          <td><%= wbf.fee_per_km %></td>

        </tr>
      <% end %>
    <% end %>
  
  </table>
  
</div>

<%= link_to "Voltar", shipping_mode_weight_based_fees_path(@shipping_mode.id) %>