<h2>Taxas de serviço de acordo com peso para modalidade <%= @shipping_mode.name %></h2>
<%= link_to "Voltar", shipping_mode_path(@shipping_mode.id) %>

<div>
  <table>
    <thead>
      <tr>
        <th><%= WeightBasedFee.human_attribute_name(:min_weight) %> (km)</th>
        <th><%= WeightBasedFee.human_attribute_name(:max_weight) %> (km)</th>
        <th><%= WeightBasedFee.human_attribute_name(:fee_per_km) %> (R$)</th>
      <tr>
    </thead>
    <% @weight_based_fees.each do |wbf| %>
      <tr>
        <td><%= wbf.min_weight %></td>
        <td><%= wbf.max_weight %></td>
        <td><%= number_to_currency(wbf.fee_per_km, unit: "") %></td>
        <% if user_signed_in? && current_user.admin? %>
          <td><%= link_to 'Editar', edit_shipping_mode_weight_based_fee_path(@shipping_mode.id, wbf.id) %></td>
        <% end %>
      </tr>
    <% end %>
  
  </table>
</div>
<% if user_signed_in? && current_user.admin? %>
  <h3>Cadastro de novas configurações</h3>
  <%= button_to 'Deletar configuração', disable_shipping_mode_weight_based_fees_path(@shipping_mode.id) %>
  <%= render 'form' %>
<% end %>