<h2>Veículos</h2>

<%= form_with(url: search_vehicles_url, method: :get) do |f| %>
  <div>
    <%= f.label :query, 'Consulta de veículos' %>
    <%= f.text_field :query %>
    <%= f.submit 'Buscar' %>
  
  </div>
<% end %>
<% if user_signed_in? && current_user.admin? %>
  <%= link_to 'Adicionar veículo', new_vehicle_path %>
<% end %>

<div>
  <table>
    <thead>
      <tr><h4>Veículos operacionais</h4></tr>
      <tr>
        <th>Placa</th>
        <th>Status</th>
        <th>Modelo</th>
        <th>Marca</th>
        <th>Ano</th>
      </tr>
       
    </thead>
    <tbody>
      
      <% @vehicles.operational.each do |ov| %>
        <tr>
          <td><%= link_to ov.plate_number.upcase, vehicle_path(ov.id) %></td>
          <td><%= t(ov.activity) %></td>
          <td><%= ov.model %></td>
          <td><%= ov.brand %></td>
          <td><%= ov.year %></td>
        </tr>
      <% end %>
     
    
    </tbody>
    

</div>

<div>
  <table>
    <thead>
      <tr><h4>Veículos em manutenção</h4></tr>
      <tr>
        <th>Placa</th>
        <th>Status</th>
        <th>Modelo</th>
        <th>Marca</th>
        <th>Ano</th>
      </tr>
       
    </thead>
    <tbody>
      
      <% @vehicles.maintenance.each do |ov| %>
        <tr>
          <td><%= link_to ov.plate_number.upcase, vehicle_path(ov.id) %></td>
          <td><%= t(ov.activity) %></td>
          <td><%= ov.model %></td>
          <td><%= ov.brand %></td>
          <td><%= ov.year %></td>
        </tr>
      <% end %>
     
    
    </tbody>
    

</div>