<!DOCTYPE html>
<html>
  <head>
    <title>ShippingSystemApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <header>
      <div> 
        <% if user_signed_in? %>
         <p><%= current_user.name %></p>
        <% end %>
      </div>
      <h1>Sistema de Fretes Mari&Mari</h1>
      <nav>
        <%= link_to 'Modalidades de transporte', shipping_modes_path %> | 
        <%= link_to 'Veículos', vehicles_path %> |
        <%= link_to 'Consulta de entregas', root_path %>
        <% if user_signed_in? %>
          | <%= link_to 'Ordens de serviço', service_orders_path %>
          | <%= button_to 'Sair', destroy_user_session_path, method: :delete %>
        <% else %>
          |<%= link_to 'Login', new_user_session_path %>
        <% end %>
        
      </nav>

    
    
    </header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
